/*-------Global---------*/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 'Gothic';
    font-size: 16px;
    text-transform:initial;
   
}
header{
    text-align: center;
    font-size: 25px; 
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
   
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}


 .router-link-active {
    color:blue;
    
    text-decoration: underline;
}
.logo{
    width: 110px;
    height: 90px;
}

a{
    font-family: 'Cabin Sketch', cursive;
    color:green;
    font-size: 25px; 
    margin: 0 auto;
    margin-right: 15px;
    margin-left: 10px;
    text-decoration: none;
}

.welcome{
    font-family: 'Cabin Sketch', cursive;
    color:black;
    font-size: 50px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.home{
   
    color: black;
}

.memo{
    padding:10px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    margin: 5%;
}
/* 
.memo-title{
    border-bottom: 1px brown solid;
} */
.memo-image{
    width:100%;
}
.memo-container{
    margin:0 auto;
}
.memos-list{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
}
.memo-preview{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: .4s;
}
.memo-preview:hover{
    opacity: .7;
    cursor: pointer;
    height: 220px;
}

.content{
    padding: 10px;
    /* font-family: 'Gochi Hand', cursive; */
    font-family: 'Itim', cursive;
    font-size: 20px;

}

.title{
    /* font-family: 'Itim', cursive; */
    font-family: 'Gochi Hand', cursive;
font-size: 25px;
font-weight: bolder;
border-bottom: 1px brown solid;
}

.delete{
    float: right;
    font-size: 12px;

}

.delete:hover{
    float: right;
    font-size: 20px;

}

